    body {
      font-family: Arial, sans-serif;
      margin: 20px;
      background-color: #f4f4f4;
    }

    header {
      background-color: #00a305;
      color: white;
      padding: 10px 0;
      text-align: center;
      font-size: 24px;
      font-weight: bold;
    }

    h1 {
      color: #990000;
    }

    h2 {
      color: #770d0d;
    }

    h3 {
      color: #880707;
    }

    p {
      font-size: 16px;
      line-height: 1.5;
      color: #8f0d0d;
    }

    ul, ol {
      margin-left: 20px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }

    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }

    .photo-container {
      text-align: center;
      margin-bottom: 20px;
    }